# Importación de nuestros datos

In [7]:
import pandas as pd

Especifica mente el DataSet que vamos a utilizar su separador es `;` por lo tanto a la hora de abrirlo tendremos que especificarlo.

In [8]:
url = ("https://gist.githubusercontent.com/ahcamachod/a572cfcc2527046db93101f88011b26e/raw/ffb13f45a79d31223e645611a119397dd127ee3c/alquiler.csv")
df = pd.read_csv(url,sep=';')

Confirmamos que se haya cargado correctamente mostrando las primeras 5 filas del DataFrame.

In [11]:
df.head(5)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN

Ahora, una tarea que se nos asigno fue saber la cantidad de registros que tenemos en nuestra base de datos, para ello utilizaremos el atributo `shape` del DataFrame.

In [9]:
print('La cantidad de filas y columnas es:',df.shape)

La cantidad de filas y columnas es: (25121, 9)

Tambien necesitamos conocer los nombres de las columnas que tenemos en nuestro DataFrame.

In [12]:
print('Las columnas son: ',df.columns.tolist())

Las columnas son:  ['Tipo', 'Colonia', 'Habitaciones', 'Garages', 'Suites', 'Area', 'Valor', 'Condominio', 'Impuesto']