In [102]:
import pandas as pd
from io import StringIO

In [103]:
data = """Nombre,Edad,Nota,Aprobado
Alberto,20,7.5,True
Ana,18,,False
Camila,27,2.5,False
David,18,5.0,False
Brian,21,10.0,True
Bruna,23,,False
Daniela,21,7.0,True
Carlos,19,6.0,False
Alicia,35,5.6,False
Victor,28,,False
Danilo,21,,False
Ignacio,24,4.5,False
Stephany,26,10.0,True
Miriam,25,9.0,True
Pablo,37,,False
Milena,29,7.0,True
Lucas,33,,False
Nadia,34,8.0,Verdadero
"""

# Cargar los registros en un DataFrame
df = pd.read_csv(StringIO(data))

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nombre    18 non-null     object
 1   Edad      18 non-null     int64
 2   Nota      12 non-null     float64
 3   Aprobado  18 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 708.0+ bytes

# **Tareas**
- Verifica si la base de datos contiene datos nulos y, en caso de tenerlos, realiza el tratamiento de estos datos nulos de la manera que consideres más coherente con la situación.

- Los estudiantes "Alicia" y "Carlos" ya no forman parte del grupo. Por lo tanto, elimínalos de la base de datos.

- Aplica un filtro que seleccione solo a los estudiantes que fueron aprobados.

- Guarda el DataFrame que contiene solo a los estudiantes aprobados en un archivo CSV llamado "alumnos_aprobados.csv".

In [105]:
# 1. Verificar y tratar datos nulos
df.isnull().sum()

Nombre      0
Edad        0
Nota        6
Aprobado    0
dtype: int64

In [106]:
df['Nota'] = df['Nota'].fillna(0)
df.isnull().sum()

Nombre      0
Edad        0
Nota        0
Aprobado    0
dtype: int64

In [107]:
# 2, Eliminar estudiantes "Alicia" y "Carlos"
df.drop(df.query("Nombre = = 'Alicia' or Nombre == 'Carlos'").index, inplace=True)
df

      Nombre  Edad  Nota   Aprobado
0    Alberto    20   7.5       True
1        Ana    18   0.0      False
2     Camila    27   2.5      False
3      David    18   5.0      False
4      Brian    21  10.0       True
5      Bruna    23   0.0      False
6    Daniela    21   7.0       True
9     Victor    28   0.0      False
10    Danilo    21   0.0      False
11   Ignacio    24   4.5      False
12  Stephany    26  10.0       True
13    Miriam    25   9.0       True
14     Pablo    37   0.0      False
15    Milena    29   7.0       True
16     Lucas    33   0.0      False
17     Nadia    34   8.0  Verdadero

In [114]:
# 3. Aplicar filtro para estudiantes aprobados
seleccion = df['Aprobado'] != 'False'
df_aprobado = df[seleccion]
df_aprobado.loc[:, 'Aprobado'] = df_aprobado['Aprobado'].replace({'Verdadero': 'True'})
df_aprobado

      Nombre  Edad  Nota Aprobado
0    Alberto    20   7.5     True
4      Brian    21  10.0     True
6    Daniela    21   7.0     True
12  Stephany    26  10.0     True
13    Miriam    25   9.0     True
15    Milena    29   7.0     True
17     Nadia    34   8.0     True

In [115]:
# 4. Guardar DataFrame en archivo CSV
df_aprobado.to_csv('./data/alumnos_aprobados.csv', index=False)